.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addProduct {
  background-color: #d97706;
}

.deleteForm {
  background-color: #dc2626;
}

.editProduct {
  background-color: #fbbf24;
}

.deleteProductForm {
}

.scrollDeleteProduct {
  background-color: #f87171;
  height: 200px;
  overflow: scroll;
}

.scrollDeleteCategory {
  background-color: #f87171;
  height: 130px;
  overflow: scroll;
}

.scrollMassEditCategory {
  background-color: #fde68a;
  height: 245px;
  overflow: scroll;
}

.AdminTools {
  background-color: #94a3b8;
  border: solid;
  text-align: center;
}

.AdminToolsComponents {
  display: flex;
  justify-content: center;
}

.Product {
  background-color: lightgrey;
}

.loginPage {
  background-color: lightgray;
  text-align: center;
}

.loginError {
  color: red;
}

.adminLogout {
  text-align: center;
}

.imagesTemplate {
  display: flex;
  flex-direction: row;
  /* border: solid; */
}

.images {
  border: solid;
}

.cart {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: lightgray;
}

.cartTitle {
  display: flex;
  flex-direction: row;
  gap: 45%;
}

.checkoutInputs {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
